body{
 background-color: #d3d3d326;   
}

header{
    background-color: #91a5fa;
    text-align: center;
    padding: 20px 20px;
}
.title{
    font-weight: bold;
    color: white;
}

.substitle{
    color: black;
    font-size: small;
}

.card{
    background-color: white;
}

.figure{
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-square{
    border: 1px solid red;
    height: 20px;
    width: 20px;
}

h1 {
    text-align: center;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}
.formula-description{

}

.result-luas {
    visibility: visible;
}